parameters:
	ignoreErrors:
		-
			message: '#^Variable \$_COOKIE on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Http/Request.php

		-
			message: '#^Variable \$_GET on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Http/Request.php

		-
			message: '#^Variable \$_POST on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Http/Request.php

		-
			message: '#^Variable \$_SERVER on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Http/Request.php
